@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #798696;
    line-height: 1.42857143;
}
*{
  margin: 0px;
  box-sizing: border-box;
}
 
/* ::placeholder{
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
 
} */
  